@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	user-select: none;
	font-family: 'Montserrat';
	font-weight: 700px;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.listtik {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top_elment {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login {
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	border-radius: 10px;
	padding: 7px 26px;
	color: #F4F4F4;
	background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
	box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
}

.listtik__item {
	margin-left: 36px;
}

.listtik__item a {
	color: inherit;
}

.logo_text {
	margin-left: 17px;
}

.header {
	padding-top: 48px;
	background-image: url('../img/shubham-dhage-g_WPAiUc1Us-unsplash\ 1.png');
	background-repeat: no-repeat;
	background-size:cover;
	/* height: 100vh; */
	padding-top: 48px;
	padding-bottom: 48px;
}

.header__top {
	color: #ffffff;
	margin-bottom: 100px;
}

.text {
	padding: 143px 180px;
	display: block;
	max-width: 1000px;
	max-height: 250px;
}

.header-body__titel {
	color: #ffffff;
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	letter-spacing: 0.02em;
	margin-bottom: 40px;

}

.header-body__text {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 157.9%;
	letter-spacing: 0.02em;
	margin-bottom: 40px;
}

.header__container {
	display: block;
	max-width: 1130px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header-body__btn_orange {
	background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
	padding: 7px 36px;
}

.header-body__btn_transparant {
	background: -webkit-linear-gradient(90deg, #ea5675,#ec7f47,#cdad37,#94d466,#06f2bc);
	background: linear-gradient(90deg, #ea5675,#ec7f47,#cdad37,#94d466,#06f2bc);          
	padding: 6px 25px;
	border: 1px solid #FF6533;
	margin-left: 20px;
}

.header-body__btn {
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	border-radius: 10px;
	color: #FFFFFF;
	letter-spacing: 0.02em;
}

.header-body {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.current-price {
	padding: 20px 43px 34px 29px;
}

.current-price__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #F4F4F4;
	margin-bottom: 10px;
}

.current-price__img {
	margin-right: 14px;
}

.current-price__ratio {
	font-weight: 700;
	font-size: 24px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #F4F4F4;
	margin-bottom: 10px;
	margin-right: 14px;
}

.current-price__course {
	font-weight: 400;
	font-size: 15px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #F5F5F5;
	margin-bottom: 10px;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile__img {
	margin-right: 14px;
}

.profile__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #F4F4F4;
	margin-bottom: 10px;
}

.current-price__info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.current-price {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
	box-shadow: -46px -61px 36px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.generation {
	display: block;
}

.generation__titel {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 24px;
}

.generation__subtitel {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 56px;
}

.generation__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.block__item {
	margin-left: 20px;
}

.block__img {
	width: 310px;
	height: 344px;
}

.block__text {
	font-weight: 700;
	font-size: 32px;
	line-height: 141.9%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	color: white;
	margin-top: -30px;
	padding: 50px 0 20px;
}

.block__text--red.active {
	background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
}

.block__text--grenn.active {
	background: -webkit-linear-gradient(159deg, #33ff0a, #7ef240, #5ce600, #24ff32, #35f50f);
}

.block__text--purple.active {
	background: -webkit-linear-gradient(159deg, #ff0ade, #ef40f2, #d600e6, #a724ff, #b80ff5);
	background: linear-gradient(159deg, #ff0ade, #ef40f2, #d600e6, #a724ff, #b80ff5);
}

.block__text--blue.active {
	background: -webkit-linear-gradient(213deg, #0afbff, #4064f2, #006fe6, #24ffe5, #1e0ff5);
	background: linear-gradient(213deg, #0afbff, #4064f2, #006fe6, #24ffe5, #1e0ff5);
}

.selling__titel {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 24px;
}

.selling__subtitel {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 56px;
}

.selling__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
}

.selling-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px 20px;
}

.balance__txt {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #FF8E1E;
}

.balance {
	display: flex;
	align-items: right;
	justify-content: top;
}

.balance__img {
	margin-right: 16.77px;
}

.selling-block__txt {
	font-weight: 700;
	font-size: 18px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #232222;
}

.accaunt {
	display: flex;
	align-items: right;
	justify-content: top;
}

.accaunt__img {
	margin-right: 16.77px;
}

.accaunt__txt {
	font-weight: 700;
	font-size: 16px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #232222;
}

.selling-block__item {
	background: #F4F4F4;
	box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.1);
	border-radius: 20px;

}

main {
	background: #F7F7F7;
}

.accaunt__txt {
	display: flex;
	align-items: center;
	justify-content: center;
}

.selling-block__img {
	margin-bottom: 20px;
}

.accaunt {
	padding-left: 29px;
	padding-bottom: 22px;
}

.balance {
	padding-left: 29px;
	margin-bottom: 18px;
}

.selling-block__txt {
	padding-left: 29px;
}

.category__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
}

.category-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 28px 20px;
}

.category__titel {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	letter-spacing: 0.02em;
	color: #232222;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.category__subtitel {
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 24px;
}

.slider__img {
	display: none;
}

.slider__img.active {
	display: block;
}

.slaider__titel {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	letter-spacing: 0.02em;
	color: #232222;
}

.slaider__subtitel {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	letter-spacing: 0.02em;
	color: #232222;
}

.slaider__btn {
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
	border-radius: 10px;
	padding: 7px 35px;
}

.slaider__btn_mobile{
	display: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
	border-radius: 10px;
	padding: 7px 35px;
}


.slaider__subcontent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.slaider__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
}

.btn.prev {
	transform: rotate(270deg);
}

.btn.next {
	transform: rotate(90deg);
}

.slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-link__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	justify-items: center;
	align-items: center;
	justify-content: space-between;
}

.stay-in-the-loop__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;

}

.stay-in-the-loop__titel {
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 20px;
}

.stay-in-the-loop__subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 164%;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 48px;
}

.stay-in-the-loop_btn {
	background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
	border-radius: 10px;
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	padding: 7px 28px;
	margin-left: -100px;
}

.stay-in-the-loop__subcontainer {
	display: flex;
	align-items: stretch;
}

.stay-in-the-loop__input {
	background: #FFFFFF;
	border-radius: 10px;
	width: 495px;
	height: 48px;
	padding: 5px 34px;
}

.stay-in-the-loop__img-container {
	max-width: 1920px;
	margin: 0 auto;
	background-image: url("../img/shubham-dhage-_afH9fjiom0-unsplash 26.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.list__link {
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	letter-spacing: 0.02em;
	color: #232222;
}

.element__titel {
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #232222;
	margin-bottom: 21px;
}

.element__titelq {
	font-weight: 700;
	font-size: 20px;
	line-height: 175.4%;
	letter-spacing: 0.02em;
	color: #232222;
}

.element__subtitel {
	font-weight: 400;
	font-size: 20px;
	line-height: 163.9%;
	letter-spacing: 0.02em;
	color: #232222;
}

.footer__container {
	max-width: 1330px;
	padding: 80px 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.list__link {
	margin-bottom: 21px;
}

.footer__subelement {
	display: flex;
	margin-bottom: 30px;
}

.element__img {
	margin-right: 17px;
}


/* Menu */
#menu {
	z-index: 2;
	display: none;
	position: relative;
}

#menu-bar {
	width: 45px;
	height: 40px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}

.bar {
	height: 5px;
	width: 100%;
	background: -webkit-linear-gradient(90deg, #b0f06a, #f6ca42, #ff9d5f, #ff7899, #f675d7);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #b0f06a, #f6ca42, #ff9d5f, #ff7899, #f675d7);
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav {
	transition: 0.3s ease;
	display: none;
}

.nav ul {
	padding: 10px;
}

.nav li {
	list-style: none;
	margin-bottom: 10px;
}

.nav li a {
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-decoration: none;
}

.nav li a:hover {
	font-weight: bold;
}


.menu-bg {
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle, #DC052D, #DC052D);
	border-radius: 50%;
	transition: 0.3s ease;
}

.change {
	display: block;
}

.change .bar {
	background: -webkit-linear-gradient(90deg, #f3fb3f, #b7fc6b, #80f895, #50f0b9, #39e4d3);
	;
}

.change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
	transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
	width: 520px;
	height: 460px;
	transform: translate(-60%, -30%);
}
.pin::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	border-radius: 50%;
	background: -webkit-linear-gradient(90deg, #dff782,#f8b851,#f97457,#d63676,#872694);                                    
}